    <main>
        <br>
        <h2 style="color:crimson;">Productos</h2>

         {{#if productosLength}}
        <div class="table-responsive">
            <table class="table table-dark">
                <tr style="color: white;">
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto URL</th>
                </tr>
                {{#each productos}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td><img src="{{this.thumbnail}}"></td>
                </tr>
                {{/each}}
            </table>
        </div>
        {{/if}} {{#else}}
        <h3 class="alert alert-danger">no se encontraron datos</h1>
           {{/else}}
    </main>